body{
  font-family: Arial;
  
}
.list-title{
  color:white;
  background-color: green;
  text-align: center;
  font-size: 16pt;
  padding: 20px;
  margin-bottom: 16px;
}

.todo-grid, .input-grid{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  column-gap: 3px;
  row-gap: 3px;
  align-items: center;
  height:30px;
}

.input-grid{
  margin-bottom: 3px;
  align-items: stretch;
  height: 30px;
}

.input, .dateinput{
  padding: 5px;
  font-size:12pt;
}

.add-todo-btn{
  background-color: green;
  color:white;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.delete-todo-btn{
  background-color: red;
  color-interpolation: white;
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 3px;
  }
